$mainbodybgcolor: #171717;

body {
  background-color: $mainbodybgcolor !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

#vmovement {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation-name: vmove, vup;
  animation-delay: 2.2s;
  animation-duration: 2.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes vmove {
  0% {
    margin: auto;
    opacity: 1;
  }
  100% {
    left: -85%;
    width: 15%;
    opacity: 0;
  }
}
.slidelogo {
  position: absolute;
  margin-top: 10%;
  margin-left: -80%;
  width: 50%;
  animation-name: slidein;
  animation-delay: 3.7s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes slidein {
  100% {
    margin-left: 6%;
  }
}
.menu-button {
  display: flex;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  margin: auto;
  width: 13rem;
  height: 7rem;
  border: solid 2.5px #c0c0c0;
  border-radius: 30px;
  pointer-events: visible;

  embed {
    width: 90%;
    height: 50%;
    margin: auto;
    pointer-events: none;
  }
}

.btn-container {
  display: inline-flex;
  width: 100vw;
  position: fixed;
  justify-content: space-between;
  padding-left: 29.5vw;
  padding-right: 30.5vw;
  margin-top: 75vh;
  visibility: hidden;
  z-index: 2;

  .portfolio-btn {
    height: 10rem;
    width: 15rem;
    border: solid #c0c0c0 1px;
    border-radius: 60px;
    background: transparent;
    transform: skewX(-25deg);
    transform: skewY(-25deg);
  }
  .contact-btn {
    height: 10rem;
    width: 15rem;
    border: solid #c0c0c0 1px;
    background: transparent;
    bottom: 0;
    border-radius: 60px;
    transform: skewX(25deg);
    transform: skewY(25deg);
  }
}

.show-btns {
  visibility: visible;
  position: absolute;
}

.footer {
  position: absolute;
  background-color: rgb(15, 3, 43);
  transform: translateY(100vh);
  width: 100%;
  height: 20vh;
}

.close-footer {
  display: none;
}
.portfolio-overlay {
  display: flex;
  width: 100vw;
  z-index: 3;
  position: fixed;
  height: 100vh;
  background-color: #212121;
  margin-left: -110%;
  transition: all 1.5s linear;
  justify-content: flex-start;
  flex-direction: row;

  .categories-overlay {
    display: flex;
    width: 95vw;
    height: 100%;
    background: linear-gradient(#212121, rgb(20, 51, 25));
    flex-direction: column;
    justify-content: center;
  }
  .close-portfolio {
    width: 5vw;
    height: 100vh;
    background-color: red;

    opacity: 0.3;
    border-radius: 40px;
    border-right: 0;
    cursor: pointer;
    animation-name: appear;
    animation-delay: 1.6s;
    animation-duration: infinite;
    &:hover {
      opacity: 1;
    }
  }
}
.show-portfolio {
  margin-left: 0;
}
.contact-overlay {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgb(159, 173, 34);
  transform: translateX(100%);
  transition: all 1.5s linear;
  justify-content: flex-start;
  flex-direction: row;

  .information-overlay {
    display: flex;
    width: 95vw;
    height: 100%;
    background-color: blueviolet;
  }
}

.show-contact {
  transform: translateX(0);
}

.close-contact {
  width: 10vh;
  height: 100vh;
  background-color: yellow;
  opacity: 0.3;
  border-radius: 40px;
  border-right: 0;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.glass {
  position: absolute;
  height: 50rem;
  width: 25rem;
  background: rgba(65, 221, 8, 0.15);
  box-shadow: 0 8px 32px 0 rgba(10, 88, 10, 0.67);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  #Layer_1 {
    width: 80%;
  }
}
