body {
  background-color: #171717 !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

#vmovement {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation-name: vmove, vup;
          animation-name: vmove, vup;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes vmove {
  0% {
    margin: auto;
    opacity: 1;
  }
  100% {
    left: -85%;
    width: 15%;
    opacity: 0;
  }
}

@keyframes vmove {
  0% {
    margin: auto;
    opacity: 1;
  }
  100% {
    left: -85%;
    width: 15%;
    opacity: 0;
  }
}

.slidelogo {
  position: absolute;
  margin-top: 10%;
  margin-left: -80%;
  width: 50%;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slidein {
  100% {
    margin-left: 6%;
  }
}

@keyframes slidein {
  100% {
    margin-left: 6%;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  margin: auto;
  width: 13rem;
  height: 7rem;
  border: solid 2.5px #c0c0c0;
  border-radius: 30px;
  pointer-events: visible;
}

.menu-button embed {
  width: 90%;
  height: 50%;
  margin: auto;
  pointer-events: none;
}

.btn-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100vw;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 29.5vw;
  padding-right: 30.5vw;
  margin-top: 75vh;
  visibility: hidden;
  z-index: 2;
}

.btn-container .portfolio-btn {
  height: 10rem;
  width: 15rem;
  border: solid #c0c0c0 1px;
  border-radius: 60px;
  background: transparent;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  -webkit-transform: skewY(-25deg);
          transform: skewY(-25deg);
}

.btn-container .contact-btn {
  height: 10rem;
  width: 15rem;
  border: solid #c0c0c0 1px;
  background: transparent;
  bottom: 0;
  border-radius: 60px;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  -webkit-transform: skewY(25deg);
          transform: skewY(25deg);
}

.show-btns {
  visibility: visible;
  position: absolute;
}

.footer {
  position: absolute;
  background-color: #0f032b;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  width: 100%;
  height: 20vh;
}

.close-footer {
  display: none;
}

.portfolio-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  z-index: 3;
  position: fixed;
  height: 100vh;
  margin-left: -110%;
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: url("./images/dotdotdot_animated.svg");
}

.portfolio-overlay .portbgimage {
  position: absolute;
}

.portfolio-overlay .categories-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  height: 100%;
  background: transparent;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.portfolio-overlay .close-portfolio {
  width: 5vw;
  height: 100vh;
  background-color: red;
  opacity: 0.3;
  border-radius: 40px;
  border-right: 0;
  cursor: pointer;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-duration: infinite;
          animation-duration: infinite;
}

.portfolio-overlay .close-portfolio:hover {
  opacity: 1;
}

.show-portfolio {
  margin-left: 0;
}

.contact-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #9fad22;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-overlay .information-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  height: 100%;
  background-color: blueviolet;
}

.show-contact {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.close-contact {
  width: 10vh;
  height: 100vh;
  background-color: yellow;
  opacity: 0.3;
  border-radius: 40px;
  border-right: 0;
  cursor: pointer;
}

.close-contact:hover {
  opacity: 1;
}

.glass {
  height: 55rem;
  width: 25rem;
  background: rgba(65, 221, 8, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(10, 88, 10, 0.67);
          box-shadow: 0 8px 32px 0 rgba(10, 88, 10, 0.67);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.glass:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 18px 62px 0 rgba(10, 88, 10, 0.67);
          box-shadow: 0 18px 62px 0 rgba(10, 88, 10, 0.67);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

#glass1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5%;
}

#glass3 {
  margin-top: -5%;
}

@media screen and (max-width: 768px) {
  #Layer_1 {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */